/target/
/node_modules/
**/node_modules/
**/dist/
**/playwright-report/
**/test-results/
apps/desktop/src-tauri/tauri.release.generated.json
/.idea/
/.vscode/
/.env
/.env.*
*.db
*.db-shm
*.db-wal
*.log
tmp/
!Cargo.lock
*.md
!**/README.md
docs
